@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-3 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="index.html"> <img src="~/Templates/img/logo.png" alt=""> </a>
                        <p>
                            So seed seed green that winged cattle in Gahesd thing made fly you're no divided
                            deep move lan Gathering thing us land years living on floor me the cavaty do buty
                            fresh
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2 col-xl-2 offset-xl-1">
                    <div class="single-footer-widget">
                        <h4>Best Services</h4>
                        <ul>
                            <li><a href="#">Car accident</a></li>
                            <li><a href="#">Personal injury</a></li>
                            <li><a href="#">Family law</a></li>
                            <li><a href="#">Bank and financial</a></li>
                            <li><a href="#">Capital market</a></li>
                            <li><a href="#">Employment Law</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_3">
                        <h4> our Gallery</h4>
                        <div class="footer_img">
                            <div class="single_footer_img">
                                <img src="~/Templates/img/footer_img/footer_img_1.png" alt="">
                            </div>
                            <div class="single_footer_img">
                                <img src="~/Templates/img/footer_img/footer_img_2.png" alt="">
                            </div>
                            <div class="single_footer_img">
                                <img src="~/Templates/img/footer_img/footer_img_3.png" alt="">
                            </div>
                            <div class="single_footer_img">
                                <img src="~/Templates/img/footer_img/footer_img_4.png" alt="">
                            </div>
                            <div class="single_footer_img">
                                <img src="~/Templates/img/footer_img/footer_img_5.png" alt="">
                            </div>
                            <div class="single_footer_img">
                                <img src="~/Templates/img/footer_img/footer_img_6.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xl-3">
                    <div class="single-footer-widget footer_icon">
                        <h4>Contact Info</h4>
                        <p>
                            4361 Morningview Lane Artland , Pall Street
                            Latimer, IA 50452 / 23654
                        </p>
                        <ul>
                            <li><a href="#"><i class="ti-mobile"></i>+7 775 917 38 45</a></li>
                            <li><a href="#"><i class="ti-email"></i>aida@gmail.com</a></li>
                            <li><a href="#"><i class="ti-world"></i>asulbek.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

