@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="portfolio_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-columns">
                    <div class="card tittle">
                        <blockquote class="blockquote mb-0">
                            <h2>
                                Недавно завершенный <br>
                                Проекты
                            </h2>
                        </blockquote>
                    </div>
                    <div class="card ">
                        <div class="card_iner overlay">
                            <img src="~/Templates/img/gallery/gallery_item.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Бизнес-центр «АФФАРИ»</h5>
                                <p class="card-text">
                                    Бизнес-центр класса «А», расположенный в центре «старой» части города.
                                    В 2016 году, в рамках недели коммерческой недвижимости «CRE-week 2016», победил в номинации «Лучший проект Офисной недвижимости».
                                </p>
                                <a href="#" class="portfolio_btn">
                                    read more <img src="~/Templates/img/right-arrow.svg" alt="">
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card_iner overlay">
                            <img src="~/Templates/img/gallery/gallery_item_1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Проект Velesstroy Camp</h5>
                                <p class="card-text">
                                    В рамках реализации проекта 3GI в партнёрстве с компанией
                                    «Велесстрой» BI Group осуществляет строительство вахтового лагеря для персонала «Велесстрой».
                                </p>
                                <a href="#" class="portfolio_btn">
                                    read more <img src="~/Templates/img/right-arrow.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_iner overlay">
                            <img src="~/Templates/img/gallery/gallery_item_2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Проект BMEI</h5>
                                <p class="card-text">
                                    BMEI – масштабный международный проект, относящийся к сектору нефтегазового строительства.
                                    Реализация проекта начата в феврале 2017 года на нефтяном месторождении Прорва.
                                </p>
                                <a href="#" class="portfolio_btn">
                                    read more <img src="~/Templates/img/right-arrow.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_iner overlay">
                            <img src="~/Templates/img/gallery/gallery_item_3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ботанический сад Астаны</h5>
                                <p class="card-text">
                                    Ботанический сад с парковой зоной, безусловно, стал главным украшением левого берега с лета 2018 года.
                                    Он раскинулся в квадрате проспекта Кабанбай батыра и улиц Туркестан, № 24 и 26.
                                </p>
                                <a href="#" class="portfolio_btn">
                                    read more <img src="~/Templates/img/right-arrow.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card see_more_project">
                        <blockquote class="blockquote mb-0">
                            <a href="#" class="btn_1">другие проекты</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


